name: CD - Test, Build & Push Docker Images

on:
  push:
    branches: [ main ]

jobs:
  tests:
    name: Run Laravel tests
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./back

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: mbstring, pdo, sqlite
          coverage: none

      - name: Install Composer dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Prepare Laravel environment
        run: |
          cp .env.example .env
          php artisan key:generate

      - name: Run tests
        run: php artisan test

  build-and-push:
    name: Build & push Docker images
    needs: tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: olimpijada72
          password: ${{ secrets.MOJ_GHCR_PAT }}

      - name: Build & push backend image
        uses: docker/build-push-action@v5
        with:
          context: ./back
          push: true
          tags: ghcr.io/olimpijada72/podkast-backend:latest

      - name: Build & push frontend image
        uses: docker/build-push-action@v5
        with:
          context: ./front
          push: true
          tags: ghcr.io/olimpijada72/podkast-frontend:latest 


  deploy:
    name: Trigger Render Deployment
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy Backend to Render
        run: curl -f -X POST ${{ secrets.RENDER_BACKEND_HOOK }}

      - name: Deploy Frontend to Render
        run: curl -f -X POST ${{ secrets.RENDER_FRONTEND_HOOK }}          